#monitor-tools {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  left: 100%;
  background: #1a1a1a;
  padding: 60px 8px;
  transition: all 0.3s ease-in;
  border: 1px solid #2f2f2f;
  color: #fff;
  z-index: 50;
}

#monitor-tools img {
  cursor: pointer;
}

#monitor-tools .rimuovi-preferito-btn {
  background: #b71c1c;
  width: 100%;
  margin-top: 2px;
}

#monitor-tools #intestazione {
  display: flex;
}

#monitor-tools #intestazione img {
  margin-right: 15px;
}

#monitor-tools #intestazione p {
  background: #252525;
  color: #fff;
  text-transform: uppercase;
  padding: 0 7px;
  width: 100%;
}

#monitor-tools #checkMonitorButton,
#monitor-tools #salvaConfigMonitor,
#monitor-tools #deleteConfigMonitor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #607d8b;
  width: 91%;
  font-size: 0.9rem;
  border-radius: 3px;
}

#monitor-tools #checkMonitorButton {
  bottom: 40px;
  display: none;
}

#monitor-tools #salvaConfigMonitor {
  bottom: 10px;
}

#monitor-tools #deleteConfigMonitor {
  bottom: 40px;
  background: #f44336;
}

#monitor-tools #configurazione-div,
#monitor-tools #imposta-configurazione-div {
  margin-top: 30px;
}

#monitor-tools #configurazione-div label,
#monitor-tools #imposta-configurazione-div label {
  display: block;
}

#monitor-tools #imposta-configurazione-div select {
  color: #333;
}

.sposta-su-monitor-btn {
  background: #dbdbdb;
  color: #000000;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

#avvisi-gestione-monitor,
.nessuna-configurazione-salvata {
  padding: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: none;
}

#info-versione-estensione {
  padding: 5px;
  color: #1c726f;
  background-color: #d7f8e7;
  border-color: #c8f5c6;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.nessuna-configurazione-salvata {
  display: block;
  font-size: 0.9rem;
  margin-top: 3px;
}

.warning {
  padding: 5px;
  color: #726f1c;
  background-color: #f8ecd7;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

#configurazione-salvata {
  padding: 0 16px;
  color: #1c725f;
  background-color: #d7f8da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  bottom: 50px;
  position: absolute;
  width: 95%;
  text-align: center;
  display: none;
}

#monitor-rilevati {
  display: none;
  grid-template-columns: repeat(2, 1fr); /* 2 colonne di larghezza uguale */
  gap: 4px;
  margin-top: 8px;
}

.monitor-div {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  transition: all 0.2s;
}

.monitor-div:hover {
  background-color: #e0f7fa;
  box-shadow: 0 0 6px 0px #ffffff;
}

.monitor-div label {
  display: none;
}

.monitor-attuale-div {
  position: relative;
  padding-top: 25px;
}

.monitor-attuale-div label {
  display: block;
  position: absolute;
  top: -1px;
  width: 101%;
  left: -1px;
  background: #b71c1c;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.monitor-div:nth-child(1) {
  background-color: #e0f7fa; /* Azzurro chiaro */
}

.monitor-div:nth-child(2) {
  background-color: #e8f5e9; /* Verde menta */
}

.monitor-div:nth-child(3) {
  background-color: #fce4ec; /* Rosa pastello */
}

.monitor-div:nth-child(4) {
  background-color: #fff3e0; /* Arancione tenue */
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#main-area-monitor {
  margin-top: 20px;
  height: 100vh;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
