/* IMPORT CUSTOM FONT */
@import url('https://fonts.googleapis.com/css?family=Inter:100,300,400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

body {
  background-color: #000;
}

/* Truncate 2 lines utility */
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  height: 2.1rem;
}

/* disabled class - used for icons and divs based on context */
.ohif-disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

/*CUSTOM*/

.logo {
  max-width: 200px;
}

.selettore-opzioni-tool {
  margin-left: -6px;
  margin-top: 10px;
  background-color: transparent !important;
}
.hover\:bg-primary-dark.selettore-opzioni-tool:hover {
  background-color: transparent !important;
}

.\!text-black[data-cy='StackScroll'] svg {
  filter: invert(1);
}

.hide-info-dicom {
  .overlay-info-dicom {
    display: none;
  }
  [data-cy='hideInfoDicom'] {
    color: #b71c1c !important;
  }
}

#SplitButton {
  button {
    padding-right: 0 !important;
  }
  .text-primary-active {
    color: #b71c1c;
  }
}

#SplitButton .hover\:\!bg-primary-dark:hover {
  background-color: transparent !important;
}

.text-primary-active {
  color: #fff;
}
.text-primary-light {
  color: #fff;
}

.text-primary-dark {
  color: #b71c1c;
}
.text-primary-main {
  color: #b71c1c;
}
.bg-primary-main {
  background-color: #b71c1c;
}
.bg-primary-light {
  background-color: #fff;
}

.bg-primary-active {
  background-color: #702e2e;
}

.bg-secondary-main {
  background-color: #b71c1c;
}

.bg-customblue-40 {
  background-color: #b71c1c;
}

.\!text-primary-active {
  color: #b71c1c !important;
}

.\!text-primary-light {
  color: #f96f6f !important;
}

.text-aqua-pale {
  color: #f96f6f;
}

.hover\:border-primary-dark:hover {
  border-color: #b71c1c !important;
}

.group\/secondary:hover .group-hover\/secondary\:text-primary-light {
  color: #f96f6f !important;
}

.group\/button:hover .group-hover\/button\:border-primary-dark {
  /* border-color: #b71c1c !important; */
  border-color: transparent !important;
}

.group:hover .group-hover\:border-primary-light\/70 {
  border-color: #b7b7b7b3 !important;
}

.group:hover .group-hover\:bg-secondary-main {
  background-color: #484848 !important;
}

.focus\:\!bg-primary-light:focus {
  background-color: #b71c1c !important;
}

.focus\:border-inputfield-focus:focus {
  border-color: #e65a5a !important;
}

.hover\:text-primary-active:hover {
  color: #ea3f20 !important;
}

.hover\:bg-primary-dark:hover {
  background-color: #b71c1c !important;
}

.hover\:bg-primary-dark.\!text-primary-active:hover {
  color: #fff !important;
}

.hover\:bg-secondary-light\/60:hover {
  background-color: rgb(153 58 58 / 60%) !important;
}

.hover\:border-blue-300:hover {
  border-color: #fff !important;
}

.bg-customblue-30 {
  background-color: #b71c1c !important;
}

.hover\:bg-customblue-50:hover {
  background-color: #7a0909 !important;
}

.hover\:bg-primary-light:hover {
  background-color: #fff !important;
}

.hover\:\!text-primary-light:hover {
  filter: grayscale(1);
}

.hover\:\!bg-primary-dark[data-cy='MoreTools-split-button-primary']:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark.text-common-bright:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark.\!text-common-bright:hover {
  background-color: #b71c1c !important;
}

.hover\:bg-secondary-main:hover {
  background-color: #b71c1c !important;
}

.border-primary-light {
  border-color: #b71c1c;
}

.border-primary-dark {
  border-color: #161616;
}

.border-secondary-main {
  border-color: #6b1616;
}

.border-secondary-dark {
  border-color: #b71c1c;
}

.border-primary-active {
  border-color: #b71c1c;
}

.border-secondary-light {
  border-color: #313131;
}

.border-inputfield-main {
  border-color: #993a3a;
}

.rounded,
.rounded-md {
  border-radius: 2px !important;
}

.border-2 {
  border-width: 1px;
}

.bg-indigo-dark {
  background-color: rgb(17 17 17);
}

.bg-primary-dark {
  background-color: #2e2e2e;
}

.bg-secondary-dark {
  background-color: #111;
}

.bg-tertiary-dark {
  background-color: #1a1a1a;
}

.text-blue-300 {
  color: #fff;
}

.tooltip.tooltip-bottom .tooltip-box::before {
  background-color: #b71c1c;
}

.ohif-scrollbar {
  scrollbar-color: #0c0c0c transparent !important;
}

[stroke='#348CFD'] {
  stroke: #b71c1c;
}

[fill='#263A71'] {
  fill: #b71c1c;
}

[fill='#5ACCE6'],
[stroke='#5ACCE6'] {
  stroke: #993a3a;
  fill: #993a3a;
}
.bg-\[\#04225b\] {
  background-color: #342121;
}

.spessore-div {
  padding: 0 8px;
  label,
  fieldset {
    font-size: 0.9rem;
  }
  fieldset {
    margin-top: 6px;
  }
}

.range-container {
  position: relative;
  width: 100%;
  height: 11px;
  border: 1px solid;
  border-radius: 2px;
  input[type='range'] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  span {
    top: 8px;
    position: relative;
    font-size: 0.9rem;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
}

.range-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: #007bff;
  z-index: -1;
  transition: width 0.2s;
}

.right-viewport-scrollbar {
  [stroke='#348CFD'] {
    stroke: #fff;
  }
}

.div-icone-right-viewport {
  display: flex;
  .preferiti-btn {
    margin-top: 2px;
  }
}

.nolex-study-item {
  background-color: #111;
}

.spinner-loading-thumbnail {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1); /* Bordo leggero */
  border-top-color: #b71c1c; /* Colore del bordo superiore (colore del caricamento) */
  border-radius: 50%; /* Forma circolare */
  animation: spin 1s linear infinite; /* Animazione di rotazione */
}

.viewport-loading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 4px solid #2c2c2c;
  border-top-color: #b71c1c;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Partenza da 0 gradi */
  }
  100% {
    transform: rotate(360deg); /* Rotazione completa a 360 gradi */
  }
}

/*Caricamento con barra in basso che si espande da sx verso dx*/
._nolex-scrolling-loading {
  /* opacity: .25;
  width: 100%; */

  border-bottom: 4px solid #b71c1c;
  animation: loading2 1s infinite;
  height: 10px !important;
  bottom: 0;
  top: unset !important;
  width: 0;
}

.nolex-scrolling-loading-p {
  display: none !important;
  top: 54px;
  right: 20px;
  position: absolute;
  font-size: 0.7rem !important;
  animation: pulse 1s infinite;
}

#storico-remoto {
  margin: 01rem;
  padding: 8px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

@keyframes loading2 {
  100% {
    width: 100%;
  }
}

/*Nascondi per produzione*/
#print-btn {
  display: none !important;
}
