/* IMPORT CUSTOM FONT */
@import './assets/styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Truncate 2 lines utility */
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  height: 2.1rem;
}

/* disabled class - used for icons and divs based on context */
.ohif-disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  :root {
    --highlight: 191 74% 63%;
    --background: 236 62% 5%;
    --foreground: 0 0% 98%;
    --card: 236 62% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 219 90% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 214 98% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 214 66% 48%;
    --secondary-foreground: 200 50% 84%;
    --muted: 234 64% 10%;
    --muted-foreground: 200 46% 65%;
    --accent: 217 79% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 236 45% 21%;
    --ring: 214 98% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --success-bg: hsl(143, 85%, 96%);
    --success-border: hsl(145, 92%, 91%);
    --success-text: hsl(140, 100%, 27%);

    --info-bg: hsl(208, 100%, 97%);
    --info-border: hsl(221, 91%, 91%);
    --info-text: hsl(210, 92%, 45%);

    --warning-bg: hsl(49, 100%, 97%);
    --warning-border: hsl(49, 91%, 91%);
    --warning-text: hsl(31, 92%, 45%);

    --error-bg: hsl(359, 100%, 97%);
    --error-border: hsl(359, 100%, 94%);
    --error-text: hsl(360, 100%, 45%);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 214 98% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 236 45% 21%;
    --ring: 214 98% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/*CUSTOM*/

.logo {
  max-width: 200px;
}

.tip-custom-layout {
  color: #bdbdbd !important;
}

.selettore-opzioni-tool {
  margin-left: -6px;
  margin-top: 10px;
  background-color: transparent !important;
}
.hover\:bg-primary-dark.selettore-opzioni-tool:hover {
  background-color: transparent !important;
}

.\!text-black[data-cy='StackScroll'] svg {
  filter: invert(1);
}

[data-cy='hideInfoDicom'] img {
  filter: invert(1);
}

.hide-info-dicom {
  .overlay-info-dicom {
    display: none;
  }
  [data-cy='hideInfoDicom'] {
    color: #b71c1c !important;
  }
}

.bg-primary-light[data-cy='StackScroll'] img {
  filter: invert(1);
}

[data-cy='panelSegmentation-btn'] .bg-customblue-40,
[data-cy='trackedMeasurements-btn'] .bg-customblue-40 {
  background-color: #8a1818 !important;
}

#SplitButton {
  button {
    padding-right: 0 !important;
  }
  .text-primary-active {
    color: #b71c1c;
  }
  svg {
    cursor: pointer;
  }
}

#SplitButton .hover\:\!bg-primary-dark:hover {
  background-color: transparent !important;
}

.text-primary-active {
  color: #fff;
}
.text-primary-light {
  color: #fff;
}

.text-primary-dark {
  color: #b71c1c;
}
.text-primary-main {
  color: #b71c1c;
}
.bg-primary-main {
  background-color: #b71c1c;
}
.bg-primary-light {
  background-color: #fff;
}

.bg-primary-active {
  background-color: #702e2e;
}

.bg-secondary-main {
  background-color: #b71c1c;
}

.bg-customblue-40 {
  background-color: #b71c1c;
}

.\!text-primary-active {
  color: #b71c1c !important;
}

.\!text-primary-light {
  color: #f96f6f !important;
}

.text-aqua-pale {
  color: #f96f6f;
}

.hover\:border-primary-dark:hover {
  border-color: #b71c1c !important;
}

.group\/secondary:hover .group-hover\/secondary\:text-primary-light {
  color: #f96f6f !important;
}

.group\/button:hover .group-hover\/button\:border-primary-dark {
  /* border-color: #b71c1c !important; */
  border-color: transparent !important;
}

.group:hover .group-hover\:border-primary-light\/70 {
  border-color: #b7b7b7b3 !important;
}

.group:hover .group-hover\:bg-secondary-main {
  background-color: #484848 !important;
}

.focus\:\!bg-primary-light:focus {
  background-color: #b71c1c !important;
}

.focus\:border-inputfield-focus:focus {
  border-color: #e65a5a !important;
}

.hover\:text-primary-active:hover {
  color: #ea3f20 !important;
}

.hover\:bg-primary-dark:hover {
  background-color: #b71c1c !important;
}

.hover\:bg-primary-dark.\!text-primary-active:hover {
  color: #fff !important;
}

.hover\:bg-secondary-light\/60:hover {
  background-color: rgb(153 58 58 / 60%) !important;
}

.hover\:border-blue-300:hover {
  border-color: #fff !important;
}

.bg-customblue-30 {
  background-color: #b71c1c !important;
}

.hover\:bg-customblue-50:hover {
  background-color: #7a0909 !important;
}

.hover\:bg-primary-light:hover {
  background-color: #fff !important;
}

.hover\:\!text-primary-light:hover {
  filter: grayscale(1);
}

.hover\:\!bg-primary-dark[data-cy='MoreTools-split-button-primary']:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark.text-common-bright:hover {
  background-color: #b71c1c !important;
}

.hover\:\!bg-primary-dark.\!text-common-bright:hover {
  background-color: #b71c1c !important;
}

.hover\:bg-primary\/25:hover {
  background-color: #fff !important;
}

.hover\:bg-background:hover {
  background-color: hsl(0deg 0% 11.17%) !important;
}

.hover\:bg-secondary-main:hover {
  background-color: #b71c1c !important;
}

.border-primary-light {
  border-color: #8a1818 !important;
}

.border-primary-dark {
  border-color: #161616;
}

.active-tool-nolex {
  background-color: #fff !important;
}

.border-secondary-main {
  border-color: #6b1616;
}

.border-secondary-dark {
  border-color: #b71c1c;
}

.border-primary-active {
  border-color: #b71c1c;
}

.border-secondary-light {
  border-color: #313131;
}

.border-inputfield-main {
  border-color: #993a3a;
}

.rounded,
.rounded-md {
  border-radius: 2px !important;
}

.border-2 {
  border-width: 1px;
}

.bg-indigo-dark {
  background-color: rgb(17 17 17);
}

.bg-primary-dark {
  background-color: #2e2e2e;
}

.bg-secondary-dark {
  background-color: #111;
}

.bg-tertiary-dark {
  background-color: #1a1a1a;
}

.text-blue-300 {
  color: #fff;
}

.tooltip.tooltip-bottom .tooltip-box::before {
  background-color: #b71c1c;
}

.ohif-scrollbar {
  scrollbar-color: #0c0c0c transparent !important;
}

[stroke='#348CFD'] {
  stroke: #b71c1c;
}

[fill='#263A71'] {
  fill: #b71c1c;
}

[fill='#5ACCE6'],
[stroke='#5ACCE6'] {
  stroke: #993a3a;
  fill: #993a3a;
}
.bg-\[\#04225b\] {
  background-color: #342121;
}

.spessore-div {
  padding: 0 8px;
  label,
  fieldset {
    font-size: 0.9rem;
  }
  fieldset {
    margin-top: 6px;
  }
}

.range-container {
  position: relative;
  width: 100%;
  height: 11px;
  border: 1px solid;
  border-radius: 2px;
  input[type='range'] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  span {
    top: 8px;
    position: relative;
    font-size: 0.9rem;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
}

.range-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: #007bff;
  z-index: -1;
  transition: width 0.2s;
}

.right-viewport-scrollbar {
  [stroke='#348CFD'] {
    stroke: #fff;
  }
}

.div-icone-right-viewport {
  display: flex;
  .preferiti-btn {
    margin-top: 2px;
  }
}

.nolex-study-item {
  background-color: #111;
}

.spinner-loading-thumbnail {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1); /* Bordo leggero */
  border-top-color: #b71c1c; /* Colore del bordo superiore (colore del caricamento) */
  border-radius: 50%; /* Forma circolare */
  animation: spin 1s linear infinite; /* Animazione di rotazione */
}

.viewport-loading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 4px solid #2c2c2c;
  border-top-color: #b71c1c;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.standard-layout-storico-same-tab {
  border-top: 1px solid;
  padding-top: 10px;
}

[data-radix-popper-content-wrapper] {
  .bg-popover {
    background-color: hsl(0deg 0% 7.09%) !important;
    border-color: #8a1818 !important;
  }
  [role='menuitem'] {
    cursor: pointer;
  }
  [role='menuitem']:hover {
    background-color: #8a1818 !important;
  }
}

.nolex-new-panel {
  .Settings {
    display: none;
  }
  [data-cy='studyBrowser-panel'] {
    padding: 0;
    display: flex;
    height: auto;
    .border-inputfield-main {
      width: 100%;
    }
    select {
      -webkit-appearance: menulist; /* Per WebKit */
      appearance: menulist; /* Per i browser moderni */
      cursor: pointer; /* Aggiungi un puntatore per indicare che è cliccabile */
      option {
        background-color: #fff; /* Colore di sfondo predefinito */
        color: #333; /* Colore del testo */
      }

      /* Tentativo di stilizzare l'hover, ma supporto limitato */
      option:hover {
        background-color: #f0f0f0; /* Colore di sfondo al passaggio del mouse */
      }
    }
    .bg-blue-500 {
      background-color: rgb(138 24 24);
    }
    .focus\:outline-none:focus {
      color: #fff;
    }
    .bg-gray-700 {
      background-color: rgb(30 30 30);
    }
  }
  .bg-muted {
    background-color: #0a0a0a;
  }
  .select-none span {
    color: #fff;
  }
  .text-actions-primary {
    color: #fff;
  }
  .data-\[state\=on\]\:text-highlight[data-state='on'] {
    color: #fff;
  }
  .hover\:text-primary:hover {
    color: #fff;
  }
  .hover\:bg-primary\/20:hover {
    background-color: hsl(0deg 73.13% 39.41%);
  }

  .data-\[state\=on\]\:bg-primary\/20[data-state='on'] {
    background-color: #adadad33;
  }
  .bg-popover,
  .bg-bkg-med {
    background-color: hsl(0deg 0% 7.09%) !important;
  }
  .text-muted-foreground {
    color: hsl(0deg 0% 68.5%);
    div {
      color: #fff;
    }
  }
  .bg-bkg-low,
  .bg-background {
    background-color: rgb(6 6 6);
  }
  .bg-customblue-40 {
    background-color: #111111;
  }

  .ohif-scrollbar {
    .accordion {
      display: none;
    }
    [role='button'] {
      cursor: none;
      pointer-events: none;
    }
    [data-cy='study-browser-thumbnail'] {
      pointer-events: all;
      cursor: pointer;
    }
    h3 button svg {
      display: none;
    }
    button {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    svg {
      color: #8a1818;
    }
  }
  #status-warning {
    display: none;
  }
  /* Visuale lista */
  .grid-cols-1 {
    img {
      height: 135px;
      width: 203px;
      object-fit: cover;
    }
    .flex.h-full.w-full {
      padding-left: 25px;
      span {
        color: #b52222;
      }
      .overflow-hidden.overflow-ellipsis {
        position: absolute;
        right: 0;
        padding-left: 12px;
      }
    }
    .series-is-active {
      /* border-left: 3px solid #8a1818;
      background-color: hsla(0, 98%, 60%, 0.3); */

      img {
        border: 1px solid hsla(0, 98%, 60%, 0.3);
      }
    }
    .hover\:bg-primary\/30:hover {
      background-color: hsl(0deg 0% 3.15%);
    }
  }
  /* Visuale thumbnail */
  .grid-cols-2 {
    .series-is-active {
      border: 1px solid #8a1818;
    }
    .hover\:bg-primary\/30:hover {
      background-color: hsl(0deg 98% 60% / 30%);
    }
  }
  #ohif-thumbnail-list {
    .bg-highlight {
      background-color: hsl(0deg 98% 60% / 65%);
    }
    .bg-primary\/65 {
      background-color: hsl(0deg 0% 100% / 65%);
    }
  }
  .chiudi-modalita-mpr {
    background-color: #b72424;
    border-radius: 2px;
    padding: 0 2px;
    cursor: pointer;
  }
  .open-study-new-tab {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    button {
      padding: 4px;
      color: #fff;
      font-size: 0.8rem;
      background: #1e1e1e;
      border-radius: 2px;
      text-transform: uppercase;
      margin-bottom: 6px;
      font-size: 0.7rem;
    }
  }
  .open-storico-modes {
    pointer-events: none;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    button {
      pointer-events: all;
      padding-top: 2px;
      padding-bottom: 2px;
      transition: all 0.2s;
      transform: scale(0.8);
    }

    #storico-same-window {
      filter: invert(1) saturate(0);
    }
    #storico-same-window:hover,
    #storico-same-window.active {
      filter: invert(0);
    }
    #storico-expand:hover,
    #storico-same-window:hover,
    #storico-same-window.active,
    #storico-new-window:hover {
      g {
        stroke: #8a1818;
      }
      path {
        stroke: #8a1818 !important;
      }
    }
    #storico-new-window:hover {
      g {
        fill: #8a1818;
      }
    }
  }
}

#info-mpr-attivo {
  color: #fff;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  background: #0a0a0a;
  margin: 2px 0;
  display: none;
}

.advanced-layout {
  display: none;
}

.separatore-layout {
  display: none;
}

.parent-Crosshairs,
.parent-CrosshairsStorico,
.parent-TrackballRotate {
  display: none;
}

.hp-mpr-active {
  .standard-layout,
  .custom-layout {
    display: none;
  }
  .parent-Crosshairs,
  .parent-TrackballRotate {
    display: block;
  }
  .advanced-layout {
    display: block;
  }

  [data-cy='LayoutMPR'] {
    background: #8a1818;
  }
  .no-mpr-thumbnail {
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
  }
  #info-mpr-attivo {
    display: block;
  }
}

.caricamento-layout-mpr {
  .cornerstone-viewport-element {
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Partenza da 0 gradi */
  }
  100% {
    transform: rotate(360deg); /* Rotazione completa a 360 gradi */
  }
}

/*Caricamento con barra in basso che si espande da sx verso dx*/
._nolex-scrolling-loading {
  /* opacity: .25;
  width: 100%; */

  border-bottom: 4px solid #b71c1c;
  animation: loading2 1s infinite;
  height: 10px !important;
  bottom: 0;
  top: unset !important;
  width: 0;
}

.nolex-noselected {
  border-color: #424242 !important;
}

.nolex-scrolling-loading-p {
  /* display: none !important; */
  top: 54px;
  right: 20px;
  position: absolute;
  font-size: 0.7rem !important;
  animation: pulse 1s infinite;
}

#storico-remoto {
  margin: 01rem;
  padding: 8px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

.parent-LayoutMPRStorico {
  display: none;
}

.loading-spinner-into-grid {
  [data-cy='viewport-grid'] {
    .group.h-full.w-full {
      opacity: 0;
    }
  }
  [data-cy='viewport-grid']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 4px solid #2c2c2c;
    border-top-color: #b71c1c;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

#reset-3d-rotation-btn {
  font-size: 0.9rem;
  background: #b72424;
  padding: 0 4px;
  position: relative;
  top: -2px;
}

[role='dialog'] {
  background: #141414;
  .text-muted-foreground {
    color: hsl(0deg 46% 65%);
  }
  .text-primary {
    color: hsl(0deg 98% 60%);
  }
  .border-input {
    border-color: hsl(0deg 45% 21%);
  }
  .border-input {
    border-color: hsl(0deg 45% 21%);
  }
  .text-secondary-foreground {
    color: hsl(0deg 50% 84%);
  }
  .bg-primary\/40 {
    background-color: hsl(0deg 98% 60% / 40%);
  }
  .bg-primary\/60 {
    background-color: hsl(0deg 98% 60% / 60%);
  }
}

.storico-injected-iframe {
  .div-icone-right-viewport {
    .all-in-one-menu {
      min-width: 193px !important;
    }
  }
  .nolex-main-area {
    border: 1px solid #2a2a2a;
    padding: 1px 3px;
  }
  .parent-LayoutMPRStorico {
    display: block;
  }
  .parent-Capture,
  [data-cy='TagBrowser'] {
    display: none;
  }
}

[data-cy='study-browser-thumbnail-no-image'] {
  max-width: 100%;
  padding: 6px;
  .items-center {
    display: contents;
  }
  .bg-background {
    visibility: hidden;
  }
}

.storico-same-tab {
  .tab-studio-nolex {
    display: none !important;
  }
  .right.nolex-new-panel {
    display: block !important;
  }
  #viewerLayoutResizableLeftPanel,
  #viewerLayoutResizableRightPanel {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 !important;
    flex: 0 !important;
    min-width: -webkit-fit-content !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
  }
  #monitor-btn,
  #print-btn {
    display: none;
  }
}

[data-cy='trackedMeasurements-panel'] {
  .text-primary {
    color: #ffcfcf;
  }
  .bg-highlight {
    background-color: hsl(0deg 74% 63%);
  }
  .text-highlight {
    color: #fff;
  }
}

.qualestudio-btn {
  padding: 10px !important;
}

.nolex-panel-header {
  position: absolute;
  background-color: #121212 !important;
}

.group\/pane:hover .group-hover\/pane\:border-primary-light\/70 {
  border-color: rgb(135 135 135 / 70%) !important;
}

.shepherd-element {
  .shepherd-title,
  button.shepherd-button,
  .shepherd-progress {
    color: #ff8e8e !important;
  }
  background-color: rgb(138, 24, 24) !important;
  color: #fff !important;
  .shepherd-header {
    background-color: rgb(138, 24, 24) !important;
    color: #fff !important;
  }
  .shepherd-arrow::before {
    background-color: rgb(138, 24, 24) !important;
  }
}

@keyframes loading2 {
  100% {
    width: 100%;
  }
}

/* Divido la toolbar in due o più righe */
@media only screen and (max-width: 1300px) {
  .toolbar-child-flex {
    flex-wrap: wrap !important;
  }
  .logo {
    max-width: 18vw;
  }
}

@media only screen and (max-width: 915px) {
  .nolex-main-area {
    height: calc(-137px + 100vh);
  }
  .nolex-bar {
    height: 136px !important;
  }
  .toolbar-child-flex {
    top: 45px !important;
  }
}
@media only screen and (min-width: 916px) and (max-width: 1300px) {
  .nolex-main-area {
    height: calc(-91px + 100vh);
  }

  .toolbar-child-flex {
    flex-wrap: wrap !important;
    top: 23px !important;
    padding: 20px;
  }
  .nolex-bar {
    height: 90px !important;
  }
}

/*Nascondi per produzione*/
#print-btn {
  display: none !important;
}

/* MOBILE */

@media only screen and (max-width: 767px) {
  /* .nolex-main-area {
    height: calc(-105px + 100vh) !important;
    top: 1px;
  } */

  .logo {
    max-width: 10vw !important;
    left: 75px;
    position: relative;
  }
  .tab-studio-nolex {
    display: none !important;
  }
  #seriesList-btn {
    display: none !important;
  }

  #viewerLayoutResizableLeftPanel,
  #viewerLayoutResizableRightPanel {
    flex: 0 !important;
    min-width: fit-content !important;
  }

  .nolex-new-panel {
    height: 100vh !important;
    .ohif-scrollbar {
      top: -45px;
      position: relative;
      overflow-x: hidden;
      [data-cy='study-browser-thumbnail']:nth-of-type(1) {
        margin-top: 42px;
      }
    }
  }

  .nolex-new-panel.open {
    max-width: 140px !important;
    [data-cy='side-panel-header-left'] {
      height: 48px;
      padding-right: 4px;
      bottom: 0;
      position: fixed;
      left: 0;
      z-index: 999;
      background-color: #0a0a0a;
      width: max-content !important;
      svg {
        display: none;
      }
    }
    [data-cy='side-panel-header-left']::after {
      content: '← Nascondi Serie';
      padding: 10px;
      color: #fff;
      left: 0px;
      background: #0a0a0a;
      position: relative;
    }
  }
  .nolex-new-panel.closed {
    margin-right: 0;
    top: unset !important;
    bottom: 0;
    z-index: 99;
    height: 0 !important;
    position: absolute !important;
    [data-cy='side-panel-header-left'] {
      height: auto;
      padding-right: 4px;
      bottom: 0;
      position: fixed;
      border-bottom: 4px solid #494949;
      svg {
        display: none;
      }
    }
    [data-cy='side-panel-header-left']::after {
      content: 'Serie →';
      padding: 10px;
      color: #fff;
      left: 50px;
      background: #0a0a0a;
      position: relative;
    }
  }

  .nolex-new-panel .grid-cols-1 .flex.h-full.w-full .overflow-hidden.overflow-ellipsis {
    position: relative;
    right: 0;
    padding-left: 0px;
  }

  .instances-foreground-text {
    position: absolute;
    right: 2px;
  }

  #ohif-thumbnail-list {
    .flex.h-full.w-full {
      width: 210px;
      padding-left: 64px;
    }
    .flex.overflow-hidden {
      display: contents;
    }
    button {
      display: none;
    }
  }

  .div-icone-right-viewport {
    display: none;
  }

  .nolex-panel-header {
    display: none;
  }

  .viewport-loading::before {
    left: 44%;
    width: 30px;
    height: 30px;
  }

  .viewport-overlay {
    font-size: 0.5rem;
  }

  .nolex-bar {
    height: auto !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    overflow-x: scroll;
  }
  .preferiti-btn {
    display: none;
  }

  .toolbar-child-flex {
    top: 0 !important;
    flex-wrap: nowrap !important;
    left: 43% !important;
  }
  .div-info-paziente {
    display: none;
  }
  /*Nascondo il pannello dx ma solo se non è lo storico splittato*/
  .right.nolex-new-panel {
    display: none !important;
  }

  .parent-LayoutMPR,
  .parent-gestioneHP,
  .parent-Capture,
  .parent-Cine,
  .parent-Probe {
    visibility: hidden;
    margin-right: -60px;
  }
  [data-cy='TransformTools-split-button-secondary'],
  [data-cy='ZoomTools-split-button-secondary'],
  [data-cy='MeasurementTools-split-button-secondary'],
  [data-cy='MoreTools-split-button-secondary'] {
    display: none !important;
  }

  .standard-layout .cursor-pointer:nth-child(4) {
    visibility: hidden;
  }

  [data-cy='Layout-2-0'],
  [data-cy='Layout-3-0'],
  [data-cy='Layout-2-1'],
  [data-cy='Layout-3-1'],
  [data-cy='Layout-3-1'],
  [data-cy='Layout-3-1'],
  [data-cy='Layout-2-2'],
  [data-cy='Layout-3-2'] {
    visibility: hidden !important;
  }

  .visible.tooltip.tooltip-bottom {
    left: 0px !important;
    top: unset !important;
    bottom: 48px;
    transform: none !important;
    .tooltip-box {
      width: 100vw;
    }
    .text-primary-dark.stroke-secondary-light.absolute {
      display: none !important;
    }
  }
}
